body{
    margin: 0;
}

.container{

/*    background-image: url("../Resources/upper.png");*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*!*        align-items: space-evenly;*!*/
}

.container img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.background-container{

}

