:root{
    --text-color: #fdfdfd;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* If I ever use icons */
/*.fa-icon {*/
/*    margin-right: .5rem;*/
/*}*/


body{
    /*background-color: #8a010b;*/
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

.container {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

.main-navigation{
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

}

.main-navigation ul {
    list-style: none;
    text-align: right;
    background: #222;
    padding: 10px 0;
}

.main-navigation ul li {
    display: inline;
    margin-right: 20px;
}

.main-navigation a.nav-item {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

a.nav-item:hover,
.touch:hover {
    transition: background-color 0.3s ease-in-out;
}

.top-text {
    background: #333;
    color: #fff;
    padding: 40px 0;
}

.top-text .container {
    text-align: center;
}

.main-title {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.description {
    font-size: 1rem;
}

h1, p, footer {
    margin-bottom: 1rem;
}

.touch {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background: #d9534f;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;

}

.touch:hover {
    background: #c9302c;
}

footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
footer{
    background-color: #aa353f;

}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.main-title {
    animation: fadeIn 2s ease-in-out;
}

.touch {
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

}

.touch:hover {
    transform: scale(1.05);
}













/* Tablets and smaller */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .main-navigation ul {
        text-align: center;
    }

    .main-navigation ul li {
        display: block;
        margin: 10px 0;
    }

    .main-title {
        font-size: 2rem;
    }

    .touch {
        width: auto;
        padding: 15px;
    }
}

/* Mobile phones */
@media (max-width: 480px) {
    .main-title {
        font-size: 1.5rem;
    }

    .touch {
        padding: 10px;
    }
}
